.Craftsman {
  background-color: #fff;
  font-weight: 400;
  background: url("./images/bodybcg.jpg") repeat left top;
  color: #535353;
  #page-contaiber {
    overflow: hidden;
    padding: 20px 0 20px 0;
    height: 125px;
  }
  .Header {
    width: 984px;
    margin: 0 auto;
    clear: both;
    .Logo {
      display: block;
      background: url("./images/logo-rope.png") no-repeat center top;
      width: 565px;
      padding: 38px 0 0 0;
      img {
        transform: rotate(0deg);
      }
    }
  }

  .RightSide {
  }

  .Intro {
    padding: 20px 0 20px 0;
    .Link {
      margin: 0 auto;
      background: url("./images/intro.png") no-repeat center 20px;
      height: 420px;
      width: 673px;
      position: relative;
    }
    .linkedin .twitter {
      display: block;
      text-indent: -9999px;
    }
    .linkedin:link {
      width: 108px;
      height: 33px;
      position: absolute;
      left: 45px;
      top: 149px;
    }
    .twitter:link {
      width: 125px;
      height: 32px;
      position: absolute;
      left: 38px;
      top: 182px;
    }
    a:link {
      color: #9e3320;
      outline: none;
      text-decoration: none;
    }
    h2 {
      text-align: center;
      background: url("./images/intro-central-banner.png") no-repeat center top;
      font-weight: 339;
      color: #fff;
      font-size: 29px;
      padding: 16px 0 23px 0;
      margin: 35px 0 0 0;
      text-shadow: #4f1d15 -1px -1px 1px;
    }
  }

  .Works {
    background: url("./images/works-bcg.jpg") repeat-x left top;
    margin: 100px 0 0 0;
    height: 678px;
    .Works-container {
      background: url("./images/works.png") no-repeat center 75px;
      position: relative;
      width: 984px;
      height: 678px;
      margin: 0 auto;
      clear: both;
      .porfolio-link-big,
      .porfolio-link-big:link {
        background: url("./images/design-elements.png") no-repeat 0px -136px;
        display: block;
        width: 174px;
        height: 174px;
        position: absolute;
      }

      .left-f {
        left: 90px;
        top: 58px;
      }
      .left-s {
        left: 10px;
        top: 253px;
      }
      .left-t {
        left: 90px;
        top: 448px;
      }
      .right-f {
        right: 90px;
        top: 58px;
      }
      .right-s {
        right: 10px;
        top: 253px;
      }
      .right-t {
        right: 90px;
        top: 448px;
      }
      a,
      a:link {
        color: #9e3320;
        outline: none;
        text-decoration: none;
      }
      a img {
        margin: 7px;
      }
      .CraftsmanWorks {
        clear: both;
        overflow: hidden;
        blockquote {
          display: block;
          width: 350px;
          margin: 505px auto 79px auto;
          line-height: 130%;
          color: #333;
          font-size: 18px;
          padding: 2px 25px 2px 25px;
          text-align: center;
          position: relative;
          span {
            font-size: 54px;
            color: #9e3322;
            width: 13px;
            height: 12px;
            position: absolute;
          }
          .QuestionOpened {
            left: 10px;
            top: 17px;
          }
          .QuestionClosed {
            right: 15px;
            bottom: 5px;
          }
        }
      }
    }
  }

  .About {
    overflow: hidden;
    padding-top: 80px;
    .About-container {
      width: 984px;
      margin: 0 auto;
      clear: both;
      .About-Image {
        width: 437px;
        float: left;
        position: relative;
      }
      article {
        margin: 0 0 80px 0;
        overflow: hidden;
        h2 {
          font: normal 35px "PT Sans Narrow", Arial, sans-serif;
          color: #9e331f;
          text-shadow: #ccc 1px 1px 1px;
          margin-bottom: 5px;
        }
        p {
          font-size: 19px;
          margin: 15px 0 0 0;
          line-height: 140%;
          font-family: "PT Sans Narrow", Arial Narrow, Arial, sans-serif;
          a,
          a:link {
            color: #9e3320;
            outline: none;
            text-decoration: none;
          }
        }
      }
    }
  }

  .Contact {
  }
}
