$color-nau-do: #9e3320;
$color-red-article: #9e331f;
$color-while: #ffffff;
$color-grey: #666666;
.PopupoCraftsman {
  background-color: $color-nau-do !important;
  border: 0 !important;
  color: $color-while !important;
  padding: 5px 10px !important;
  &:before {
    background-color: $color-nau-do !important;
  }
}

.Scraftsman {
  background: url("./images/bodybcg.jpg");

  .Header {
    overflow: hidden;
    height: 125px;
    padding: 20px;

    .Logo {
      width: 565px;
      background: url("./images/logo-rope.png") no-repeat center top;
      padding: 38px;
      position: absolute;

      img {
        padding: 0;
        margin: 0;
        transition: transform 1s;
        &:hover {
          transform: rotate(1.9deg);
        }
      }
    }
  }

  .Intro {
    padding: 20px 0;

    .Link {
      margin: 0 auto;
      background: url("images/intro.png") no-repeat center 20px;
      height: 420px;
      width: 673px;
      position: relative;

      .Linkedin:link {
        width: 108px;
        height: 33px;
        position: absolute;
        left: 45px;
        top: 149px;
      }

      .Twitter:link {
        width: 125px;
        height: 32px;
        position: absolute;
        left: 38px;
        top: 182px;
      }

      .NavLink {
        position: absolute;
        width: 190px;
        height: 190px;
        background: url("images/design-elements.png") no-repeat 0px -430px;
        left: 515px;
        bottom: 303px;
        transition-property: transform;
        transition-duration: 1s;
        animation-name: rotate;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      li {
        width: 110px;
        left: 544px;
        bottom: 46px;
        text-align: center;
        color: $color-while;
        position: relative;

        p {
          top: 0;
          position: absolute;
          transition: all 0.4s ease-in-out 0s;
        }

        a {
          left: 18px;
          top: 18px;
          height: 100px;
          width: 100px;
          position: absolute;
          transition: all 0.4s ease-in-out 0s;
          background-color: $color-nau-do;
          color: $color-while;
          font-size: 20px;
          border-radius: 50%;
          padding: 37px 0;
        }

        &:hover .MyWorks {
          left: -30px;
          top: 110px;
        }

        &:hover .AboutMe {
          left: -30px;
          top: -70px;
        }

        &:hover .ContactInfo {
          left: 125px;
          top: 17px;
        }
      }

      .NavClick {
        width: 136px;
        height: 138px;
        position: relative;
        background: url("images/design-elements.png") no-repeat 0px 0px;
        text-transform: uppercase;
        color: $color-while;
        font-size: 25px;
        text-align: center;
        line-height: 30px;
        padding: 29px 0 0 0;
        letter-spacing: 0px;
        transform: rotate(-15deg);
        transition: transform 1s;
        z-index: 1;
        &:hover {
          transform: rotate(0deg);
        }

        em {
          font-size: 40px;
          font-style: normal;
          line-height: 40px;
          letter-spacing: normal;
        }
      }
    }

    h2 {
      text-align: center;
      background: url("images/intro-central-banner.png") no-repeat center top;
      font-weight: 400;
      color: $color-while;
      font-size: 31.5px;
      padding: 20px 0 34px 0;
      margin: 35px 0 0 0;
    }
  }

  .Works {
    background: url("images/works-bcg.jpg") repeat-x left top;
    margin: 100px 0 0 0;

    .ContainerScrafts {
      background: url("images/works.png") no-repeat center 75px;
      position: relative;

      .Porfolio {
        background: url("images/design-elements.png") no-repeat 0px -136px;
        display: block;
        width: 174px;
        height: 174px;
        position: absolute;

        img {
          margin: 7px;
        }
      }

      .WorkMore {
        position: absolute;
        left: 270px;
        bottom: 315px;
        width: 103px;
        height: 106px;
        display: block;
        color: $color-while;
        text-transform: uppercase;
        background: url(images/design-elements.png) no-repeat 0px -310px;
        transition: transform 1s;
        overflow: hidden;
        transform: rotate(0deg);
        line-height: 28px;
        padding: 24px 0 0 0;
        text-align: center;
        font-size: 24px;
        &:hover {
          transform: rotate(-15deg);
        }

        em {
          font-size: 24px;
          letter-spacing: 4px;
          clear: both;
          display: block;
        }
      }

      .CraftsmanWorks {
        overflow: hidden;
        clear: both;

        blockquote {
          display: block;
          width: 350px;
          margin: 505px auto 79px auto;
          line-height: 130%;
          color: #333333;
          font-size: 18px;
          padding: 2px 25px 2px 25px;
          text-align: center;
          position: relative;

          span {
            font-size: 40px;
            color: #9e3322;
            width: 13px;
            height: 12px;
            position: absolute;
          }

          .QuestionOpened {
            left: 10px;
            top: 8px;
          }

          .QuestionClosed {
            right: 127px;
            bottom: 9px;
          }
        }
      }

      .Left-f {
        left: 90px;
        top: 58px;
      }

      .Left-s {
        left: 10px;
        top: 253px;
      }

      .Left-t {
        left: 90px;
        top: 448px;
      }

      .Right-f {
        right: 90px;
        top: 58px;
      }

      .Right-s {
        right: 10px;
        top: 253px;
      }

      .Right-t {
        right: 90px;
        top: 448px;
      }
    }
  }

  .About {
    overflow: hidden;
    padding-top: 80px;

    .ContainerScrafts {
      .AboutSection {
        display: flex;

        .AboutImg {
          width: 437px;
          position: relative;

          .PhotoMore {
            font-size: 19px;
            padding-top: 28px;
            width: 103px;
            height: 106px;
            left: 15px;
            top: 27px;
            position: absolute;
            display: block;
            color: $color-while;
            text-transform: uppercase;
            background: url(images/design-elements.png) no-repeat 0px -310px;
            border: 0px;
            transition: transform 1s;
            overflow: hidden;
            transform: rotate(0deg);
            line-height: 28px;
            padding: 24px 0 0 0;
            text-align: center;
            &:hover {
              transform: rotate(-15deg);
            }
          }
        }

        article {
          margin: 0 0 80px 0;
          overflow: hidden;

          h2 {
            color: $color-red-article;
            margin-bottom: 5px;
            font-size: 38px;
          }

          p {
            font-size: 19px;
            margin: 15px 0 0 0;
            line-height: 140%;
          }

          h3 {
            color: $color-red-article;
            font-size: 30px;
          }
        }

        .Secondary {
          width: 492px;
        }

        .GreatUX {
          width: 455px;
          height: 165px;
          background: url("images/about-workflow.png") no-repeat left;
          margin: 66px 0 0 20px;
          position: relative;

          ul {
            display: flex;
            margin-top: 50px;

            li {
              color: $color-while;
              font-size: 22px;
              width: 100px;

              em {
                display: block;
                clear: both;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
              }
            }

            strong {
              font-size: 20px;
              color: $color-grey;
              font-weight: 400;
              width: 115px;
              height: 50px;
              position: absolute;
              right: 0px;
              top: 40px;
              text-align: center;
              line-height: 110%;
            }

            li.First {
              margin-left: 20px;
            }

            li.Second {
              margin-left: 0;
            }
          }

          p.Conclusion {
            clear: both;
            font-size: 22px;
            color: $color-grey;
            margin: 70px 0 0 120px;
          }
        }
      }
    }
  }

  .Contact {
    background: url("images/contact-bcg.jpg") repeat-x left top;
    overflow: hidden;
    padding: 60px 0 0 0;

    .ContainerScrafts {
      height: 450px;
      background: url("images/contact.png") no-repeat right top;
      position: relative;

      .ContainerFrom {
        display: flex;

        .ContactForm {
          width: 512px;
          position: relative;
          overflow: hidden;
          padding-bottom: 50px;
          margin-top: 7px;

          input,
          textarea {
            border: 0px;
            outline: 0;
            border-radius: 15px;
            color: #000000;
          }

          input {
            width: 431px;
            height: 31px;
            padding: 3px 15px 0 15px;
            background: url("images/design-elements.png") no-repeat -174px 0px;
            margin-bottom: 10px;
          }

          textarea {
            width: 431px;
            height: 155px;
            padding: 9px 15px 0 15px;
            background: url("images/design-elements.png") no-repeat -174px -102px;
            resize: none;
          }
        }

        .SkillsImg {
          width: 209px;
          margin: 45px 0px 0 250px;
        }
      }

      .Footer {
        margin-top: 70px;
        display: flex;
        flex-direction: row;

        p {
          width: 375px;
          margin-top: 7px;
        }

        .IconFooter {
          display: flex;

          a {
            margin-right: 5px;
          }

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          .Email {
            background: url("images/design-elements.png") no-repeat -191px -430px;
            &:hover {
              background: url("images/design-elements.png") no-repeat -191px -462px;
            }
          }

          .Skype {
            background: url("images/design-elements.png") no-repeat -223px -430px;
            &:hover {
              background: url("images/design-elements.png") no-repeat -223px -462px;
            }
          }

          .Twitter {
            background: url("images/design-elements.png") no-repeat -255px -430px;
            &:hover {
              background: url("images/design-elements.png") no-repeat -255px -462px;
            }
          }

          .Linkedin {
            background: url("images/design-elements.png") no-repeat -287px -430px;
            &:hover {
              background: url("images/design-elements.png") no-repeat -287px -462px;
            }
          }
        }
      }
    }
  }

  a,
  a:link {
    color: $color-nau-do;
    outline: none;
    text-decoration: none;
  }

  .Linkedin,
  .Twitter {
    display: block;
    text-indent: -9999px;
  }

  .ContainerScrafts {
    max-width: 984px;
    margin: 0 auto;
    clear: both;
  }
  @media (max-width: 980px) {
    .ContainerScrafts {
      width: 768px;
    }

    .Intro h2 {
      background-size: 768px;
      font-size: 26px;
      padding-top: 13px;
      margin-top: 25px;
    }

    .Works {
      .ContainerScrafts {
        background-size: 245px auto;

        .CraftsmanWorks blockquote {
          width: 200px;
          margin-top: 420px;
          margin-bottom: 100px;

          .QuestionOpened {
            left: 10px;
            font-size: 45px;
          }

          .QuestionClosed {
            right: 17px;
            font-size: 45px;
          }
        }
      }
    }

    .About {
      .AboutImg {
        width: 355px;
      }
    }
  }
  @media (max-width: 527px) {
  }
}
