.Wrapper {
  display: flex-box;
  background-color: white;
}
.Header {
  color: white;
  text-align: center;
  background-image: url("./images/imgHeader.jpg");
  background-size: 100% 100%;
}
.Logo {
  width: 111px;
  height: 32px;
  margin-top: 30px;
}
.icon {
  width: 40px;
  height: 40px;
}
.Features {
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
  line-height: 1.5;
  color: #637381;
  flex-wrap: wrap;
  max-width: 990px;
  margin: 0 auto;
}
.boxfeatures {
  flex: 1;
  max-width: 250px;
}
.Logos {
  margin: auto;
  max-width: 930px;
  background-image: url("./images/logo1.jpg");
  background-size: 100% 100%;
}
.Quotes {
  text-align: center;
}
main {
  justify-content: center;
  width: auto;
  text-align: center;
}
.Footer {
  text-align: right;
  margin-bottom: 25px;
}
a {
  margin-right: 20px;
}
.Email {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
input.enteremail {
  display: inline-block;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  padding: 10px;

  text-align: start;
}
button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  margin-left: 4px;
  border-radius: 4px;
}
.start {
  background-color: #30373b;
}
.start2 {
  background-color: #5c6ac4;
}
button.start:hover {
  background-color: #22272a;
}
button.start2:hover {
  background-color: #202e78;
}
h3 {
  color: #212b35;
  margin-top: 5px;
}
img {
  width: 60%;
}
@media (max-width: 760px) {
  .Features {
    display: block;
    text-align: center;
  }
  .boxfeatures {
    max-width: 80%;
    margin: 45px auto;
  }
  h3 {
    margin: 0px;
  }
  p {
    margin-top: 0px;
  }
}
@media (max-width: 340px) {
  .Email {
    display: block;
    /*flex-direction: colum*/
  }
  input.enteremail {
    max-width: 100%;
  }
}
