.Wrapper {
  background-color: white;
}
.Header {
  color: white;
  text-align: center;
  background-image: url("./images/imgHeader.jpg");
  background-size: 100% 100%;
}
.Features {
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
  line-height: 1.5;
  color: #637381;
  flex-wrap: wrap;
  max-width: 990px;
  margin: 80px auto;
}
.Logos {
  text-align: center;
  margin: auto;
  max-width: 930px;
}
.Quotes {
  margin-top: 75px;
  text-align: center;
}
.Footer {
  margin-top: 45px;
  text-align: right;
  margin-bottom: 25px;
}
.Logo {
  width: 111px;
  height: 32px;
  margin-top: 30px;
}
.Email {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
input.enteremail {
  display: inline-block;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  padding: 10px;

  text-align: start;
}
.boxfeatures {
  flex: 1;
  max-width: 250px;
}
.icon {
  width: 40px;
  height: 40px;
}
main {
  justify-content: center;
  width: auto;
  text-align: center;
}
img {
  width: 60%;
}
img.logotext {
  width: 90%;
}
a {
  margin-right: 20px;
  text-decoration: none;
  color: #5c6ac4;
}
button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  margin-left: 4px;
  border-radius: 4px;
}
.start {
  background-color: #30373b;
}
.start2 {
  background-color: #5c6ac4;
}
button.start:hover {
  background-color: #22272a;
}
button.start2:hover {
  background-color: #202e78;
}
h1 {
  margin-top: 40px;
  margin-bottom: 0;
}
h2 {
  margin: 15px;
}
h3 {
  color: #212b35;
  margin-top: 5px;
}
h5 {
  margin: 16px;
}
h6 {
  margin: 25px;
}
@media (max-width: 768px) {
  .Features {
    display: block;
    text-align: center;
  }
  .Quotes {
    margin: 60px;
  }
  .Footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .boxfeatures {
    max-width: 80%;
    margin: 85px auto;
  }
  h3 {
    margin: 0px;
  }
  p {
    margin-top: 0px;
  }
  img {
    width: 95%;
  }
  .Logos {
    display: none;
  }
  a {
    margin: 5px auto;
  }
}
@media (max-width: 340px) {
  input.enteremail {
    width: 88%;
    text-align: center;
  }
  button {
    flex-basis: 95%;
    margin: 10px auto;
  }
}
