.Shopify {
  background-color: white;
  @font-face {
    font-family: "FontShopify-Bold";
    src: url("./fonts/ShopifySans--bold.woff2") format("woff2");
    font-family: "FontShopify-Medium";
    src: url("./fonts/ShopifySans--medium.woff2") format("woff2");
    font-family: "FontShopify-Regular";
    src: url("./fonts/ShopifySans--regular.woff2") format("woff2");
  }
  .Button {
    display: inline-block;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 17px;
    margin-left: 4px;
    border-radius: 4px;
  }

  .ButtonStart {
    background-color: #30373b;
  }

  .ButtonBottom {
    margin-top: 30px;
    background-color: #5c6ac4;
  }

  .Header {
    color: #ffffff;
    text-align: center;
    background-image: url("./images/header-bg.jpg");
    background-size: 100% 100%;

    .Logo svg {
      width: 10%;
      margin: 50px auto;
    }

    .MainTitle {
      margin: 0 auto;
      font-size: 3.75em;
      font-weight: 900;
      font-family: "FontShopify-Bold", Helvetica, Arial, sans-serif;
    }

    .SubTitle {
      margin: 5px auto;
      font-size: 2.25em;
      font-weight: 400;
      font-family: "FontShopify-Medium", Helvetica, Arial, sans-serif;
    }

    .BoxEmail {
      margin-bottom: 40px;

      .Email {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin: 15px auto;

        .EnterEmail {
          display: inline-block;
          border-radius: 4px;
          border: none;
          font-size: 16px;
          padding: 15px;
          text-align: start;
        }

        .ButtonStart:hover {
          background-color: #22272a;
        }
      }
    }

    .Laptop {
      width: 50%;
    }
  }

  .Features {
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
    line-height: 1.5;
    color: #637381;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 80px auto;

    .BoxFeatures {
      flex: 1;
      max-width: 300px;
      padding: 0px 5px;

      svg {
        width: 40px;
        height: 40px;
      }

      h3 {
        color: #212b35;
        font-family: "FontShopify-Regular", Helvetica, Arial, sans-serif;
      }
    }
  }
  .Newspapers {
    padding: 0 15%;

    img {
      width: 100%;
    }
  }

  .Quotes {
    margin-top: 90px;
    text-align: center;

    h3 {
      margin: 0 auto;
      font-size: 1.75em;
      font-weight: 700;
      width: 80%;
      max-width: 860px;
      line-height: 1.5;
      color: #212b35;
    }

    p {
      margin: 20px auto;
    }

    .ButtonBottom:hover {
      background-color: #202e78;
    }
  }

  .Footer {
    margin-top: 70px;
    text-align: right;
    margin-bottom: 25px;

    a {
      margin-right: 20px;
      text-decoration: none;
      color: #5c6ac4;
    }
  }
}

@media (max-width: 768px) {
  .Shopify {
    .Header {
      .Logo svg {
        width: 20%;
      }

      .Laptop {
        width: 70%;
      }

      .MainTitle {
        font-size: 1.7em;
      }

      .SubTitle {
        font-size: 1.5em;
        font-weight: 450;
      }
    }

    .Features {
      max-width: 95%;

      .BoxFeatures {
        max-width: 80%;
        margin: 0 15px;
      }
    }

    .Newspapers {
      display: none;
    }

    .Quotes {
      h3 {
        width: 80%;
        font-size: 1.5em;
        margin-bottom: 20px;
      }
    }

    .Footer {
      display: flex;
      flex-direction: column;
      text-align: center;

      .TagBottom {
        margin: 5px auto;
      }
    }
  }
}

@media (max-width: 360px) {
  .Shopify {
    .Header {
      .Logo svg {
        width: 30%;
      }

      .TextTry {
        font-size: 0.8em;
      }

      .EnterEmail {
        width: 88%;
        text-align: center;
      }

      .Button {
        flex-basis: 95%;
        margin: 10px auto;
      }

      .Laptop {
        width: 92%;
      }
    }

    .Features {
      display: block;

      .BoxFeatures {
        margin: 55px auto;
      }
    }

    .Quotes {
      h3 {
        font-size: 1em;
      }
    }
  }
}
