@font-face {
  font-family: "Craftsmans";
  src: url("./fonts/Craftsman--black.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Craftsmans";
  src: url("./fonts/Craftsman--bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
